<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Tipo de Pasteles - ANASA</title>
    <link rel="stylesheet" href="Pasteles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <header class="main-header">
        <div class="logo">
            <!-- Puedes poner aquí tu logo -->
            <img src="imgs/logo.png" alt="Logo" height="40">
        </div>
        <nav class="main-nav">
            <a href="../../main.html">HOME</a>
            <a href="../about/about.html">SOBRE NOSOTROS</a>
            <a href="../catalogo/catalogo.html">CATAGOLO</a>
            <a href="../pasteles/Pasteles.html">PASTELES</a>

        </nav>
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </header>

</body>

</html>